{% extends 'forum/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Problematika</h1>
                <p class="lead">Problems In Search of a Solution</p>
            </div>
        </div>
        <div>
            <h1>Problems</h1>
            <p class="lead">Is there a problem that you and other people experience on a daily basis? right them down!</p>
            <div class="d-flex flex-row justify-content-between">
                <a class="btn btn-outline-secondary mr-3" href="{% url 'topic-create' %}"><i class="fas fa-plus mr-2"></i>Add a Problem</a>
                <form method="GET" class="search__form form-inline">
                    {% csrf_token %}
                    <input class="search__bar" type="search" placeholder="Search Topics..." aria-label="Search" name="keyword">
                    <button class="search__btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <hr>
        {% if topics %}
            {% for post in topics %}
                <div class="post__body mt-4">
                    <small>Points: {{post.points}}</small>
                    <div class="m-0 d-flex justify-content-between">
                        <h4 class="post__info">Posted by {{post.author}} on {{post.date_posted|date:"j M Y"}}</h4>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button class="voteBtn" name="topicBtn" value={{post.id}}><i class="fas fa-sort-up fa-3x"></i></button>
                        </form>
                    </div>
                    <h1 class="post__title"><a href="{% url 'post-list' pk1=post.pk %}">{{post.title}}</a></h1>
                    <p class="post__content">{{post.content}}</p>
                    <a class="btn btn-outline-secondary mb-2" href="{% url 'post-create' pk1=post.id %}"><i class="fas fa-plus mr-2"></i>Add a Solution</a></br>
                    {% if post.author == user %}
                        <a class="" href="{% url 'topic-update' pk1=post.id %}">Edit</a>
                        <span>|</span>
                        <a class="" href="{% url 'topic-delete' pk1=post.id %}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                <i class="fas fa-chalkboard-teacher info__icon"></i>
                <h5 class="info__text mt-5">No Posts Available</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}