{% extends 'forum/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div>
            <h1>Topics</h1>
            <div class="d-flex flex-row justify-content-between">
                <a class="btn btn-outline-secondary mr-3" href="{% url 'topic-create' %}"><i class="fas fa-plus mr-2"></i>New Topic</a>
                <form method="GET" class="search__form form-inline">
                    {% csrf_token %}
                    <input class="search__bar" type="search" placeholder="Search Topics..." aria-label="Search" name="keyword">
                    <button class="search__btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <hr>
        {% if topics %}
            {% for post in topics %}
                <div class="post__body mt-4">
                    <h4 class="post__info">Posted by {{post.author}} on {{post.date_posted|date:"j M Y"}}</h4>
                    <h1 class="post__title"><a href="{% url 'post-list' pk1=post.pk %}">{{post.title}}</a></h1>
                    <p class="post__content">{{post.content}}</p>
                    {% if post.author == user %}
                        <a class="" href="{% url 'topic-update' pk1=post.id %}">Edit</a>
                        <span>|</span>
                        <a class="" href="{% url 'topic-delete' pk1=post.id %}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                <i class="fas fa-chalkboard-teacher info__icon"></i>
                <h5 class="info__text mt-5">No Posts Available</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}