{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{% load mptt_tags %}
{% block body %}
    <div class="container-fluid">
        <a class="btn btn-outline-info" href="{% url 'post-list' pk1=post.topic.id %}">Back</a>
        <div class="post__body mt-4">
            <h4 class="post__info">Posted by {{post.author}} on {{post.date_posted}}</h4>
            <h1 class="post__title">{{post.title}}</h1>
            <p class="post__content">{{post.content}}</p>
            <div class="post__action d-flex justify-content-end">
                {% if post.author == user %}
                    <a class="" href="{% url 'post-update' pk1=object.topic.id pk2=object.id %}">Edit</a>
                    <span class="mx-1">|</span>
                    <a class="" href="{% url 'post-delete' pk1=object.topic.id pk2=object.id %}">Delete</a>
                    <span class="mx-1">|</span>
                {% endif %}
                <a href="{% url 'comment-create' pk2=post.id type='Post' pk_parent=post.id %}">Reply</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="d-flex flex-column align-items-start mt-3" >
            {% if post.comment_set.all|length == 1%}
                <h5>{{ post.comment_set.all|length }} Comment</h5>
            {% else %}
                <h5>{{ post.comment_set.all|length }} Comments</h5>
            {% endif %}
            <ul>
                {% recursetree post.comment_set.all %}
                    <li>
                        <div class="container comment__body mt-3 d-flex">
                            <img class="rounded-circle comment-img mr-3" src="{{ node.author.profile.image.url }}" alt="">
                            <div>
                                <h4 class="post__info"><span class="comment__author mr-1">{{node.author}}</span> {{node.date_posted|timesince}} ago</h4>
                                <p class="post__content">{{node.content}}</p>
                                <div class="post__action">
                                    {% if node.author == user %}
                                        <a class="" href="{% url 'comment-update' pk2=node.post.id pk3=node.id %}">Edit</a>
                                        <span>|</span>
                                        <a class="" href="{% url 'comment-delete' pk2=node.post.id pk3=node.id %}">Delete</a>
                                    {% endif %}
                                    <span>|</span>
                                    <a href="{% url 'comment-create' pk2=node.post.id type='Comment' pk_parent=node.id %}">Reply</a>
                                </div>
                            </div>
                        </div>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
{% endblock %}
