{% extends 'forum/base.html' %}
{% block body %}
    <div class="container-fluid">
        <h1>Posts on {{posts.first.topic}}</h1>
        <a class="btn btn-outline-secondary" href="{% url 'post-create' pk1=posts.first.topic.id%}">New Post</a>
            {% for post in posts %}
            <div class="post__body mt-4">
                <h4 class="post__info">Posted by {{post.author}} on {{post.date_posted}}</h4>
                <hr>
                <h1 class="post__title"><a href="{% url 'post-detail' pk1=post.topic.id pk2=post.id %}">{{post.title}}</a></h1>
                <p class="post__content">{{post.content}}</p>
                <hr>
                <div class="post__action d-flex justify-content-end">
                    <a href="#">Reply</a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}
